@font-face {
    font-family: 'cookiesregular';
    src: url('../../Assets/webfontkit-20200213-144022/cookies-webfont.woff2') format('woff2'),
         url('../../Assets/webfontkit-20200213-144022/cookies-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

  /*
 #F8FFCA Yellow Green
 #B6D084 Chartreuse
 #FFCB32 Mimosa
 #2F7604 Green
 #141514 Black
 */

.recipeResults {
    list-style: none;
    margin: 5%;
    font-family: 'Nanum Gothic', sans-serif;
}

#results {
    font-family: 'cookiesregular';
}

.individualResult {
    padding: 2%;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.individualResult:hover {
    background-color: #FFCB32; 
}

.searchRecipe {
    margin: 5%;
}

#searchBar {
    width: 100%; 
    height: 32px;   
    display: block;
}

.searchArea {
    text-align: center;
}

#searchButton {
    padding: 10px;
    font-size: 20px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
}

.buttonGroupSearch {
    display: flex;
}
