.dashboard {
  /* display: inline-block; */
  list-style: none;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  vertical-align: middle; 
  background-color: #FFCB32;
}

.dashboard-link-text {
  text-decoration: none;
  line-height: 140px;
  padding: 3px; 
  color: black;
  font-weight: bold;
}

.dashboard.meal-plan {
  font-size: 25px;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

Link {
  margin-top: 40px;
}

@media screen and (min-width: 420px){

  .dashboard {
    height: 200px;
    min-width: 200px;
  }

  .dashboard-link-text {
    line-height: 185px;
  }

  .dashboard.meal-plan {
    font-size: 30px;
  }

  #dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 700px){

  .dashboard {
    display: inline-block;
    height: 250px;
    min-width: 250px;
  }

  .dashboard-link-text {
    line-height: 230px;
  }
  
  #dashboard-container {
    margin-top: 50px;
    text-align: center;
  }
}