.pantrytag {
  margin-top: 38%;
}

.recipetag {
  margin-top: 38%;
}

.mealplantag {
  margin-top: 38%;
}

.dashboard {
  /* display: inline-block; */
  list-style: none;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 10px;
  text-align: center;
  font-size: 30px;
  vertical-align: middle; 
  background-color: #FFCB32;
  font-family: 'cookiesregular';
  box-shadow: 5px 5px 5px #2F7604;
  border-radius: 10%;
}

.dashboard:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

Link {
  margin-top: 40px;
}

.dashboard-link-text {
  text-decoration: none;
  /* line-height: 140px; */
  padding: 3px; 
  color: black;
  font-weight: bold;
}
  

.dashboard.meal-plan {
  font-size: 25px;
}

#dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
}

#dashboard-links-list {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-right: 12.5%;
  /* margin: auto; */
}

@media(min-width: 375px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 10.8%;
    /* margin: auto; */
  }
}

@media(min-width: 425px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 9.5%;
    /* margin: auto; */
  }
}

@media screen and (min-width: 700px){

  .dashboard {
    display: inline-block;
    height: 250px;
    min-width: 250px;
  }

  .dashboard-link-text {
    /* line-height: 230px; */
    /* line-height: 185px; */
    padding: 0px;
  }

  .dashboard.meal-plan {
    font-size: 30px;
  }

  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 5.2%;
    /* margin: auto; */
  }

  #dashboard-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media(min-width: 768px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 5.2%;
    /* margin: auto; */
  }
}

@media(min-width: 1023px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 3.9%;
    /* margin: auto; */
  }
}

@media(min-width: 1044px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 2.8%;
    /* margin: auto; */
  }
}

@media(min-width: 1920px) {
  #dashboard-links-list {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-right: 2.1%;
    /* margin: auto; */
  }
}