@font-face {
    font-family: 'cookiesregular';
    src: url('../Assets/webfontkit-20200213-144022/cookies-webfont.woff2') format('woff2'),
         url('../Assets/webfontkit-20200213-144022/cookies-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }

.recipeSection {
    text-align: center;
}

.individual-recipe {
    color: black;
    list-style: none;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
}

.individual-recipe:hover {
    color:  #2F7604;
}

#recipeHeader {
    text-align: center;
    font-size: 32px;
    font-family: 'cookiesregular';
}

#recipe-search-text {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#no-recipes-in-list {
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}

#larger-search-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#searchBar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.empty-fields-error-message {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

/* .recipeResults {
    text-align: center;
} */