.Landing {
    text-align: center;
    background-color: #B6D084;
    margin-top: 0;
    /* padding: 10px; */
}

.flex-container {
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

/* .Landing-Logo {
    width: 600px;
    height: 250px;

} */

img {
    justify-content: center;
    align-items: center;
    width: 55%;
    border: 2px black;

}

/* #landingDocumentation {
    
} */

.site-description {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 20px; 
    margin-right: 20px;   
    justify-content: center;
    align-items: center;
}

.sampleImages {
    display: inline-block;

}
