@media screen and (max-width: 800px) {
    .Landing {
        text-align: center;
        font-size: smaller;       
    }

    .landingSamples {
        display: inline-block;            
    }

    .p1, .p2 {
        font-size: 10px;
    }
    
    .RegistrationBtn, .LoginBtn {
        font-size: 15px;
    }
}



.Landing {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #B6D084;
    margin-top: 20px;
    margin-left: 13px;
    margin-right: 13px;    
    border: 2px black solid;
    border-radius: 7%;
    box-shadow: 5px 5px 5px #2F7604;
    
    /* padding-bottom: 40px; */
}

.flex-container {
    display: flex;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

/* .Landing-Logo {
    width: 600px;
    height: 250px;

} */

.landinglogo {
    justify-content: center;
    align-items: center;
    width: 55%;
    border: 2px black;

}

/* #landingDocumentation {
    
} */

.site-description {
    text-align: center;
    
    }

.landingSamples {
    align-items: center;
    text-align: center;
    margin-left: 10px;
    width: 150px;
    height: 50px;
    flex-direction: column;
    font-size: smaller;
    border: black solid 2px;
    border-radius: 10%;
    color: rgb(40, 158, 14);
    text-decoration: none;
    box-shadow: 5px 5px 5px #2F7604;    
    padding: 1%;
    width: 25%;
    height: auto;
}

.p1  {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;    
}

.p2 {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.RegistrationBtn {
    font-family: "cookiesregular";
    font-size: 25px;
    margin: 10px ;
    padding: 5px;
}

.LoginBtn {
    font-family: "cookiesregular";
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}
