@font-face {
  font-family: 'cookiesregular';
  src: url('../../Assets/webfontkit-20200213-144022/cookies-webfont.woff') format('woff'),
       url('../../Assets/webfontkit-20200213-144022/cookies-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'cookiesregular';

}

#header-nav-container {
  text-align: center;
  text-decoration: none;
}

.heading{
  text-decoration: none;
  border: 3px solid black;
}

/* .log-out-user-link{
  margin-left: -400px;
} */

#site-sections-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-link-text {
  margin: 10px;
  padding: 5px;
}

