.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  margin-top: 50px;
  font-size: 20px;
}

input {
  margin-bottom: 20px;
  width: 135px;
}

label {
  margin-right: 10px;
}

.btn-row {
  margin-top: 10px;
  text-align: center;
}

.submit-login {
  margin-bottom: -10px;
  width: 100px;
  font-size: 18px;
  background-color: #FFCB32;
}

.submit-login:hover {
  background-color: #2F7604;
  color: #FFCB32;
}


.new-account {
  background-color: #FFCB32;
  margin-top: 10px;
}

.red {
  color: red;
  font-size: 28px;
}

.login-fail-error {
  margin-top: 20px;
  margin-bottom: -20px;
}


/* media queries non-mobile */

/* .login-form {
  margin-top: 70px or something;
} */