@font-face {
  font-family: "cookiesregular";
  src: url("./Assets/webfontkit-20200213-144022/cookies-webfont.woff2")
      format("woff2"),
    url("./Assets/webfontkit-20200213-144022/cookies-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cookiesmilkregular";
  src: url("./Assets/webfontkit-20200213-145809/cookiesmilk-regular-webfont.woff2")
      format("woff2"),
    url("./Assets/webfontkit-20200213-145809/cookiesmilk-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
/*
 #F8FFCA Yellow Green
 #B6D084 Chartreuse
 #FFCB32 Mimosa
 #2F7604 Green
 #141514 Black
 */

 
 main {
   padding-bottom: 250px;
   padding-top: 10px;
 }

.App {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #f8ffca;
  /* height: 2000px; */
}

button {
  background-color: #FFCB32;
}

.bigButton {
  width: 200px;
  height: 100px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10%;
  background-color: #FFCB32;
  box-shadow: 5px 5px 5px #2F7604;
  margin: 20px;
}
.medButton {
  width: 150px;
  height: 50px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10%;
  background-color: #FFCB32;
  box-shadow: 5px 5px 5px #2F7604;
  margin: 1%;
  margin-bottom: 20px;
}

.smallButton {
  width: 90px;
  height: 50px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: solid 1px;
  border-radius: 10%;
  background-color: #FFCB32;
  box-shadow: 5px 5px 5px #2F7604;
  margin: 10px;
}

.smallButton:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

.medButton:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

.bigButton:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

button:hover {
  background-color: #2F7604;
  color: #FFCB32;
}

.dropDown {
  background-color: #FFCB32;
  min-width: 200px;
  border: black 2px solid;
  height: 30px;
  font-size: 16px;
  margin: 10px;
}

.randomLabel {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bold;
  margin: 5px;
}

.recipePage {
  align-content: center;
}

.heading {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "cookiesregular";
  font-size: 20px;
  color: #141514;
  background-color: #b6d084;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px black solid;
  border-radius: 10%;
  box-shadow: 5px 5px 5px #2F7604;
  padding: 2.5%;
  margin-top: 10px;
}



.log-out-user-link,
.login-page-link {
  color: #141514;
  text-decoration: none;
  font-family: "cookiesregular";
  padding: 5px;
}

.log-out-user-link:hover {
  color: #2F7604;
}

.login-page-link:hover {
  color: #2F7604;
}

.dashboard-link-selector {
  font-family: "cookiesregular";
  color: #141514;
  text-decoration: none;
}

.dashboard-link-selector:hover {
  color: #2F7604;
}

.nav-link-text {
  font-family: "cookiesregular";
  color: #141514;
  text-decoration: none;
}

.nav-link-text:hover {
  color: #2F7604;
}

#navBar {
  text-align: center;
  background-color: #b6d084;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#modal-btn {
  color: red;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  color: red;
}
.toggle-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.toggle-button:hover {
  background-color: darkgray;
}
.actions {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.landing-image {
  display: inline-block;    
}

.landinglogo {
  margin: 0 22.5%;
}

.inputSmall {
  height: 25px;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .smallButton {
    width: 150px;
    height: 60px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 10%;
    background-color: #FFCB32;
    box-shadow: 5px 5px 5px #2F7604;
  }

  .medButton {
    width: 150px;
    height: 50px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 10%;
    background-color: #FFCB32;
    box-shadow: 5px 5px 5px #2F7604;
    margin: 1%;
  }
  .bigButton {
    width: 200px;
    height: 100px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    border: solid 1px;
    border-radius: 10%;
    background-color: #FFCB32;
    box-shadow: 5px 5px 5px #2F7604;
    margin: 2%;
  }
}